#root {
  max-width: 1200px;
  margin: 0 auto;
  font-size: xx-large;
  font-weight: 700;
}

table, th {
  border: 0px solid black;
}

td {
	border: 5px solid white;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.button-text {
  position: absolute;
  bottom: 5%;
  width: 100%;
  left: 0%;
}

.square-button {
  width: 198px;
  height: 198px;
  float: left;
  position: relative;
}

.small-img {
    max-width: 128px;
  max-height: 128px;
}